<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/search.css">
    <link rel="stylesheet" href="./styles/addbook.css">
    <link rel="stylesheet" href="./styles/viewnotes.css">
    <script src="https://cdn.tiny.cloud/1/ej9lp74ddmy5z5e96vjsl09g80ws7gekaahe61vjljrdavdb/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>
<main>