.page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    gap: 20px;
    border-bottom: 4px solid whitesmoke;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.details>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ECDFCC;
    padding: 10px;
}

.container {
    /* display: flex; */
    height: 100vh;
    /* align-items: center;
    justify-content: space-around; */
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

label {
    margin-top: 20px;
}

.details>form>button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;

}

.details>form>input {
    padding: 10px;
}

.form>form {
    flex-direction: column;
    color: #ECDFCC;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form>form>input {
    padding: 20px;
}